*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px 0;
}

/* spacing */
:is(h1, h2, h3, p):not(:last-child) {
  margin-bottom: 2.5rem;
}

/* text */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}

h3 {
  font-size: 18px;
}

h4, h5, h6,
p {
  font-size: 16px;
}

/* CSS here */
section {
  min-height: 100vh;
}

// code
pre {
  font-size: 16px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}

// center a div
.fl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-center .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

// smooth scrolling
[data-sc] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// parallax image
[data-parallax] {
  aspect-ratio: 350 / 180;
}

[data-parallax] img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center calc(var(--progress) * 100%);
}

// custom cursor
body.has-custom-cursor {
  cursor: none;
}

body:not(.has-custom-cursor) [data-cursor] {
  opacity: 0;
}

[data-cursor] {
  transition: opacity 0.3s ease;
}

[data-cursor-inner],
[data-cursor-wrapper] {
  --size: 40px;
  position: absolute;
  top: 0;
  left: 0;

  width: var(--size);
  aspect-ratio: 1;

  border-radius: 50%;
  border: 1px solid #000;
  pointer-events: none;

  transform: translate(-50%, -50%) translate(var(--x, 0), var(--y, 0));
}

[data-cursor-wrapper] {
  transition: transform 0.05s;
}

[data-cursor-inner] {
  --size: 10px;
  border: none;
  background: white;
  mix-blend-mode: difference;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}

body.hover-button [data-cursor-inner],
body.hover-button [data-cursor-wrapper] {
  width: var(--buttonWidth, 0);
  height: var(--buttonHeight, 0);
  transform: translate(var(--buttonX), var(--buttonY));
  border-radius: 5px;
  transition: width .3s, height .3s, transform 0.3s;
}